body{
    margin: 0;
    background-color: ivory;
}
.header{
    height: 12rem;
    margin: 0;
    background-image:url("../img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-superior{
    height: 6rem;
    display: flex;
    align-items: end;
}

.header-superior h1{
    margin: 0;
    font-family: "EB Garamond", serif;
    font-weight: lighter;
    font-size: 2.5rem;
}
.header-inferior{
    height: 6rem;
    display: flex;
    align-items: end;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.8rem;
    gap: 1rem;
}
.menu-list a{
    text-decoration: none;
    color: black;
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
}