body{
    margin: 0;
    background-color: ivory;
    font-family: "EB Garamond", serif;
}

/* HEADER */
.header{
    margin: 0;
    background-image:url("../img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.header-superior{
    height: 6rem;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.header-superior h1{
    margin: 0;
    font-weight: lighter;
    font-size: 2.5rem;
}

.header-inferior{
    display: flex;
    /* align-items: end; */
}
.carritoButton{
    background-color: rgba(24, 33, 41, 0);
    border: none;
    border-radius: 10%;
    font-size: 1.5rem;
}

.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.8rem;
    gap: 1rem;
}
.menu-list a{
    text-decoration: none;
    color: black;
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
}

/* MAIN */
main{
    margin: 1rem;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    margin: 1.5rem 0 1.5rem 0;
    justify-content: center;
}
.cards-container a{
    text-decoration: none;
    color: black;
    box-shadow: 1px 1px 8px 5px rgba(188, 143, 143, 0.692);
    padding: 0 8px;
    font-weight: 500;
}
.preview-card{
    margin: 1rem;
    padding: 0.5rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 225, 244, 0.397);
    box-shadow: 3px 3px 8px 10px rgba(188, 143, 143, 0.692);
    transition: 0.5s;
}
.preview-card:hover{
    box-shadow: 3px 3px 8px 15px rgba(188, 143, 143, 0.692);
    height: 20.3rem;
}
.card-title-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.pink-shadow-button{
    border: none;
    box-shadow: 1px 1px 8px 5px rgba(188, 143, 143, 0.692);
}
.preview-card h4, h3{
    writing-mode: vertical-lr;
}
.notificacion{
    width: 1.5rem;
    height: 1.5rem;
    padding: 2px;
    text-align: center;
    color:black;
    font-size: 0.8rem;
    box-shadow: 1px 1px 8px 5px rgba(88, 74, 74, 0.692);
}

.carrito-preview-section{
    display: none;
    position: fixed;
    min-height: 10rem;
    width: 20rem;
    top: 7.5rem;
    right: 1rem;
    padding: 1rem;
    background-color: rgba(250, 225, 244, 0.925);
    border: 1px solid black;
    border-radius: 5%;
}
.carrito-preview-section h2{
    text-align: center;
    font-size: 1.5rem;
}

/* FOOTER */

.footer p{
    text-align: center;
    font-size: 12px;
    margin: 0;
}

/* MEDIA QUERY */
@media only screen and (max-width:575px){
    .header-superior{
        align-items: center;
    }
    .header-superior h1{
        font-size: 2.2rem;
    }
    .header-inferior{
        justify-content: center;
    }
    .menu-list{
        flex-direction: column;
        align-items: center;
    }
    .preview-card{
        height: 15rem;
    }
    .preview-card:hover{
        box-shadow: 3px 3px 8px 15px rgba(188, 143, 143, 0.692);
        height: 15.3rem;
    }
}
